@page "/fetchdata"

@using CosmosExplorer.Blazor.Services
@inject WeatherForecastService ForecastService
@inject StateContainer stateContainer

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>



<div id="wrapper">
    <div id="div1">
        @if (TreeItems.Count > 0)
        {

            <p>
                <MudTreeView ServerData="LoadServerData" Items="TreeItems">
                    <ItemTemplate>
                        <MudTreeViewItem Value="@context" Style="@(context.Container == stateContainer.Container?"background-color:#def0ff;":"")" LoadingIconColor="Color.Info" Text="@context.Title" @onclick="() => SelectContainerAsync(context.Database,context.Container)" />
                    </ItemTemplate>
                </MudTreeView>
            </p>
            <p>
                <b>SELECT * FROM c </b>

                <textarea @bind="query" placeholder="Enter query" cols="80" rows="5" autofocus="autofocus" style="border:solid 1px"></textarea>
            </p>

            <p></p>
            <button class="btn btn-primary" @onclick="QueryAsync">Query</button>

        }
        <p>

            @if (result != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Partition Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var (id, partitionKey) in result)
                        {
                            var style = "";
                            if (id == selectedId) style = "background-color:#def0ff;";
                            <tr style="@style">
                                <td @onclick="() => SelectDocumentAsync(id, partitionKey)">@id</td>
                                <td>@partitionKey</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </p>
    </div>
    <div id="div2">
        <p>

            @if (loading)
            {
                <em style="color:red">
                    Loading...
                </em>
            }
            &nbsp;
        </p>
        <p>
            <textarea @bind="documentString" cols="80" rows="30" autofocus="autofocus"></textarea>

        </p>
    </div>
</div>
<style>
    #wrapper {
    }

    #div1 {
        display: inline-block;
        width: 600px;
    }

    #div2 {
        display: inline-block;
        vertical-align: top;
        width: 600px;
    }
</style>

@code {

    private HashSet<TreeItemData> TreeItems { get; set; } = new HashSet<TreeItemData>();

    public class TreeItemData
    {
        public string Title { get; set; }

        public string Container { get; set; }

        public string Database { get; set; }

        public bool CanExpand { get; set; } = false;

        public HashSet<TreeItemData> TreeItems { get; set; }


    }



    public async Task<HashSet<TreeItemData>> LoadServerData(TreeItemData parentNode)
    {
        await Task.Delay(500);
        return parentNode.TreeItems;
    }
    private IEnumerable<Domain.Connection.DatabaseModel> databases;
    private string query;
    private IEnumerable<(string, string)> result;
    private string documentString;
    private string selectedId;
    private bool loading = false;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        databases = await ForecastService.GetDatabasesAsync();

        foreach (var database in databases)
        {
            var item = new TreeItemData { Title = database.Id, Database = database.Id, Container = null, CanExpand = true };
            item.TreeItems = new HashSet<TreeItemData>();
            var ordered = database.Containers.OrderBy(c => c.Id).ToList();
            foreach (var container in ordered)
            {
                item.TreeItems.Add(new TreeItemData { Title = container.Id, Database = database.Id, Container = container.Id, CanExpand = false });
            }
            TreeItems.Add(item);

        }

        loading = false;
    }

    public async Task QueryAsync()
    {
        loading = true;
        result = await ForecastService.QueryAsync(query);
        loading = false;
    }

    public async Task SelectDocumentAsync(string id, string partitionKey)
    {
        documentString = "";
        selectedId = id;
        loading = true;
        documentString = await ForecastService.GetDocumentAsync(id, partitionKey);
        loading = false;
    }

    public async Task SelectContainerAsync(string databaseName, string containerName)
    {
        if (containerName is null) return;

        documentString = "";
        result = null;

        loading = true;
        await ForecastService.ChangeContainerAsync(databaseName, containerName);
        result = await ForecastService.QueryAsync("");
        loading = false;
    }


}

